.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo{
      height: 70px;
      width: 120px;
  }

  .logo-container {
    height: 50%;
    width: 70px;
    margin-bottom: 25px;
    padding-left: 25px;
    align-content: center;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
