@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Domine', serif;
    padding: 20px 60px;
}

a{
    text-decoration: none;
    color: black;
}